* {
  margin: 0px;
  padding: 0px;
}
#navbar {
  overflow: hidden;
  border-radius: 10px;
  height: 118px;
  position: sticky;
  top: 0px;
  /* border: 1px solid red; */
  display: flex;
}
#_2,
#_3,
#_4,
#_5 {
  font-size: 20px;
}
#navbar::before {
  content: "";
  position: absolute;
  top: 0px;
  opacity: 0.6;
  width: 99.9%;
  height: 100%;
  z-index: -1;
  background: url("nav2.jpg");
}
#menu {
  height: 20px;
  display: inline-block;
  margin: 40px 12px;
}
#_1 {
  font-size: 30px;
}
#logo img {
  margin: 10px;

  border-radius: 50%;
  width: 129px;
}
#navbar ul {
  padding: 27px;
  list-style: none;
  text-decoration: none;
  display: flex;
}
#navbar ul li {
  margin: 20px;
}
li a {
  font-weight: bold;
  font-family: "Bad Script";
  color: black;
  text-decoration: none;
}
._2:hover {
  border-radius: 8px;
  background-color: wheat;
  position: relative;
  right: 2px;
  top: 2px;
}
.home {
  overflow: hidden;
  border-radius: 10px;
  height: 764px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0px;
  opacity: 0.8;
  background: url("pizza.jpg");
}
._3,
.btn {
  text-indent: 100px;
  margin: 100px 0px;
  font-size: 20px;
}
.headertag {
  font-size: 100px;
  text-shadow: 8px 5px 10px black;
  color: #bd0815;
  font-family: "Carattere";
  font-style: italic;
  font-kerning: auto;
}

.food,
#headertag,
.tag,
#client h1 {
  font-family: "Bilbo Swash Caps";
  font-style: italic;
  text-shadow: black 2px 1px 2px;
  color: #720518;
  padding: 10px;
  font-size: 50px;
  text-indent: 170px;
  font-weight: bold;
}
.tag {
  text-indent: 100px;
}
#tag {
  text-indent: 270px;
}
#btn {
  font-size: 18px;
  background-color: #790202;
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-family: "Bad Script";
  font-weight: bolder;
  box-shadow: 5px 3px 4px 1px black;
}
#btn:hover {
  position: relative;
  top: 2px;
  left: 2px;
}
#headertag_1 {
  border-radius: 10px;
  margin: 1px;
  border: 2px solid #f890a271;
  box-sizing: border-box;
  justify-content: space-evenly;
  display: flex;
  height: 151px;
  background-color: #f890a271;
}
.header img {
  height: 129px;
}

#headertag,
#_7 {
  margin-left: 20px;
  display: inline;
}
.section {
  background-color: #f890a271;
  /* border: 3px solid red; */
  border-radius: 10px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.img {
  position: relative;
  height: 400px;
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
}
#client {
  position: relative;
  height: 344px;
  background-color: #f890a15b;
  border-radius: 10px;
}
#client::before {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  content: " ";
  z-index: -1;
  background: url("client.jpg");
}
.client {
  align-content: center;
  justify-content: center;
  display: flex;
}
.client-item img {
  padding: 34px;
  width: 130px;
}
.footer {
  text-align: center;
  background-color: black;
  color: white;
}
